body {
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
}
label {
  display: block;
  margin-top: 10px;

  font-size: 1.5rem;
}
input {
  margin-top: 5px;
  padding: 10px 20px;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 1rem;

  font-size: 1rem;
}
.error {
  color: red;
  margin-left: 5px;
}

h1 {
  text-align: center;
  margin-top: 5rem;
}

.gameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#numPlayersDiv {
  display: flex;
  gap: 10rem;
}
