@import url("home.css");

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
#output {
  white-space: pre-line;
  margin-top: 20px;
}
input,
button {
  margin-top: 10px;
}
#guessControls,
#solveControls,
#nextRoundBtn {
  display: none;
}
#turnPopup {
  display: none;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin: 10px;
}

h1 {
  margin-top: 2rem;
}

#menu {
  display: flex;
  justify-content: flex-end;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 4rem 0;
}

#centerDiv {
  display: flex;
  justify-content: space-around;
}

#puzzleDisplay {
  margin-top: 3rem;
  font-size: 6rem;
}

#spinWheel {
  display: flex;
  gap: 5rem;
}

#spinButton {
  padding: 40px;
  border-radius: 100%;

  background-color: gainsboro;
  border-color: gainsboro;
}

#spinPoints {
  font-size: 6rem;
}

#controls {
  display: flex;
  gap: 3rem;
}

#guessResult {
  margin-top: 1rem;
  font-size: 3rem;
}

#output {
  margin-top: 1rem;
  font-size: 3rem;
}
